.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .wheel {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color:rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
    animation: move 3s infinite linear;
    
  }
  
  .spoke {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top;
    width: 2px;
    height: 50%;
    background-color: rgb(173, 173, 173);
    transform: translateX(-50%);
  }
  
  .spoke::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: inherit;
    transform-origin: bottom;
    transform: translateX(-50%);
  }

  .spoke-1 {
    transform: translateX(-50%) rotate(0deg);
  }
  
  .spoke-2 {
    transform: translateX(-50%) rotate(60deg);
  }
  
  .spoke-3 {
    transform: translateX(-50%) rotate(120deg);
  }
  
  .spoke-4 {
    transform: translateX(-50%) rotate(180deg);
  }
  
  .spoke-5 {
    transform: translateX(-50%) rotate(240deg);
  }
  
  .spoke-6 {
    transform: translateX(-50%) rotate(300deg);
  }

  
  
  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(36deg);
    }
    20% {
      transform: rotate(72deg);
    }
    30% {
      transform: rotate(108deg);
    }
    40% {
      transform: rotate(144deg);
    }
    50% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(216deg);
    }
    70% {
      transform: rotate(252deg);
    }
    80% {
      transform: rotate(288deg);
    }
    90% {
      transform: rotate(324deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }