table {
    width: 100%;
    border-spacing: 0 15px;
    border-collapse: separate;
    margin: 0 auto;
    font-size: 16px;

  }



  th{
    width: 800px;
    padding: 6px 6px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;

  }

  td {
    width: 800px;
    padding: 12px 20px;
    text-align: left;

  }
  
  tr {
    background-color: rgba(218, 218, 218, 0.205);
    box-shadow: 0 2px 4px rgb(250, 192, 2);
    margin-bottom: 8px;
    
  }

  tr:hover {
    background-color: rgba(0, 121, 201, 0.199);
  }
  

